:root {
    --main-bg-color: #0c1435;
    --game-color: #233A98;
    --yellow-color: #dfa44d;
    --white-color: rgb(219, 207, 207);
    --black-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    transition: 0.1s ease;
    user-select: none;
}

html {
    font-size: 10px;
    font-family: Oswald;
}

/* body {
    /* overflow: scroll;
} */

main {
    background: linear-gradient(to bottom, #233A98, #0c1435);
    width: 100%;
    /* height: 90vh; */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

}
header {
    background-color: #142771;
    position: fixed;
    z-index: 4;
    right: 0;
    left: 0;
    top: 0;
}
nav {
    display: flex;
    height: 8vh;
    /* align-items: center; */
    justify-content: space-between;

}

.nav-bar-ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    height: 100%;   
}


.logo-header {
    padding: 5px;
    height: 100%;
    /*margin-right: 7vh;*/
    /*margin-left: 7vh;*/
}
.nav-bar-img{
    /* display: inline-block; */
    height: 100%;
}
.nav-bar-button {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    text-decoration: none;
    color: var(--white-color);
    font-family: Oswald;
}

ul .nav-bar-button {
    margin-left: 2rem;
}

.main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
}

.left-column {
    display: flex;
    align-items: center;
    /* height: 100%; */
    width: 45%;
}

.right-column {
    /* display: flex; */
    /* align-items: flex-end; */
    /* flex-direction: column; */
    width: 45%;

}

.main-block-title {
    position: relative;
    text-align: center;
}

.main-block-title * {
    font-family: gyparody;
    font-weight: 700;
    color: #fdc879;
    text-shadow: 1px 1px 4px black;
}

.first-word {
    font-size: 12rem;
}

.second-word {
    font-size: 5rem;
}

.main-block-description {
    display: flex;
    justify-content: center;

}

.main-block-description-text {
    color: var(--white-color);
    font-size: 2rem;
    /* width: 50rem; */
    text-align: justify;
    margin-bottom: 5rem;
    word-wrap: break-word;
}

.main-block-download-button {
    background-color: transparent;
    outline: none;
    font-size: 4rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px;
    transition: 0.3s ease;
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
    transform: rotateX(25deg);
    width: 30rem;
    text-align: center;
    text-decoration: none;
}

.main-block-download-button:hover {
    box-shadow: 0 5px 5px 1px rgba(2, 26, 44, 0.44);
    border: 2px solid #fdc879;
    color: #fdc879;
    transform: rotateX(0deg);
}

.main-block-download-buttons {
    display: flex;
    justify-content: space-around;
}
.information-block-h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #fdc879;
    font-size: 5rem;
    font-weight: 600;
    padding-top: 7rem;
    padding-bottom: 6rem;
}
.information-block-text {
    color: var(--white-color);
    font-size: 3rem;
    max-width: 60%;
    text-align: center;
    padding-bottom: 7rem;
    word-wrap: break-word;
    margin: 0 auto;
}
.information-block {
    background: linear-gradient(180deg, rgba(0,0,0,0) 18%, rgba(2,26,44,1) 61%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.instruction-block{
    background-color: #021A2C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.accordion-btn{
    background-color: #1E3181;
    color: var(--white-color);
    height: 7rem;
    font-size: 2.5rem;
    font-weight: 400;
    
}
.accordion-btn::after{
    /* border-radius: 50%; */
    /* background-color: #6c3f3f; */
    background-image: url("image/Group 2.svg") !important;
    position: absolute; /* Абсолютное позиционирование */
    /* left: 20px; bottom: -20px; Положение треугольника */
    right: 15px;
    border: 10px solid transparent; border-top: 10px solid white;
}
.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #EAEEFD;
    --bs-accordion-active-bg: #C6CFF9;
}
.accordion-p{
    font-size: 2rem;
    /* color */
}

.warning{
    color: #fdc879;
}
.accordion-item {
    color: #1E3181;
}
.authors-block-h2{
    font-weight: 700;
    color: #fdc879;
    font-size: 5rem;
    padding-top: 7rem;
    padding-bottom: 6rem;
}
.authors-block-text {  
    color: var(--white-color);
    font-size: 3rem;
    /* max-width: 70%; */
    text-align: center;
    padding-bottom: 7rem;
}

.authors-block{  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.gradient{
    background: linear-gradient(0deg, rgba(0,0,0,0) 18%, rgba(2,26,44,1) 90%);
}
.authors-block-photos{
    display: flex;
    flex-direction: column;
}
.authors-photo{
    border-radius: 50%;
}
.authors-block-personaloty{
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    align-self: start;
    max-height: 30rem;
    align-items: center;
}
.authors-p{
    margin: 5rem;
}